.card {
    display: inline-grid;
    max-width: 210px;
  }
  
  img {
    height: 240px ;
    width: 240px;
  }
  
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }
  .centered{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-70%, -70%);
    color: red;    
  }